name: Rust CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "scripts/**"
      - ".vscode/**"
      - "**/LICENSE"
      - "**/*.md"
  pull_request:
    paths-ignore:
      - "scripts/**"
      - ".vscode/**"
      - "**/LICENSE"
      - "**/*.md"

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Setup Cache
        uses: Swatinem/rust-cache@v2

      - name: Verify formatting
        run: cargo fmt --all -- --check

      - name: Run Clippy linter
        run: cargo clippy --all-targets --all-features -- -D warnings

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Setup Cache
        uses: Swatinem/rust-cache@v2

      - name: Build workspace
        run: cargo build --workspace --all-targets --all-features --release

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Setup Cache
        uses: Swatinem/rust-cache@v2

      - name: Run tests
        env:
          RUST_BACKTRACE: 1
        run: cargo test --workspace --all-features --all-targets -- --nocapture
